.App {
  text-align: center;
}

.queue-box {
  text-align: center;
  border: 5px solid black;
  height: 75px;
  width: 75px;
}

.queue {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.line h3 {
  border: 1px solid black;
  border-radius: 500px;
}
